*{ 
    margin: 1rem; 
    padding: 0rem; 
    box-sizing: border-box; }

.lista :nth-child(6){
    background-color: rgb(0, 0, 255);

}

.lista :nth-child(odd){
    text-decoration: underline solid green;
}

.lista li{
    display:inline;
    padding-right: 10px;
    
}
.lista :nth-child(1)::after { 
    content: "😁";
}
.lista :nth-child(2)::after { 
    content: "🤠​";
}
.lista :nth-child(3)::after { 
    content: "🤢";
}
.lista :nth-child(4)::after { 
    content: "👽​";
    
}
.lista :nth-child(5)::after {
    content: "🥴​";
}
.lista :nth-child(6)::after { 
    content: "😎";
}

.lista :nth-child(4){
    text-transform: uppercase;
    font-size: 200%;
}

#provincias :not(:nth-child(2)){
    list-style: upper-roman; 
} 
